config/project_files/nbgen.csv
*results/**
resources/**
workflow/scripts/__pycache__/**
logs/**
.snakemake
.snakemake/**
.ipynb_checkpoints
.conda
.cache
.jupyter
*.html
docs/build
docs/source/api
# pixi environments
.pixi/*
!.pixi/config.toml
